<ion-card>
	<ion-card-header>
		<ion-navbar color="primary">
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title>About Us</ion-title>
		</ion-navbar>
	</ion-card-header>
	<ion-card-content class="card-background-page">
		<ion-list *ngIf="leaders">
			<ion-item *ngFor="let leader of leaders">
				<ion-avatar item-start>
					<img src="{{BaseURL + leader.image}}">
				</ion-avatar>
				<h2>{{leader.name}}</h2>
				<p>{{leader.description}}</p>
			</ion-item>
		</ion-list>
	</ion-card-content>
</ion-card>
